[Unit]
Description=Opticall
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/usr/local/bin/opticall
ExecStart=/usr/local/bin/opticall/opticall

[Install]
WantedBy=multi-user.target
